# Node.js
node_modules/
/.pnp
.pnp.js
npm-debug.log
.env

# Build
dist/
build/

# Logs
logs
*.log

# OS
.DS_Store
Thumbs.db

# VSCode / IDE
.vscode/
.idea/

# Frontend build
frontend/build/

# dotenv files
backend/.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*